= content_for :title, "Log in"

#explanation
  %p Grounch brings you the best movie recommendations for you and your friends
  .btn_wrapper
    %a{ :class => 'btn btn-primary btn-large', :href => @hunch_login_url} Login!


