<div class="clearfix"></div>
<div class="share-buttons">
  <div class="twitter-share right">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://groun.ch" data-text="Grounch brings you the best movie recommendations for you and your friends" data-via="jordinl83">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <div class="fb-share right">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=104431302982616";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like" data-href="http://groun.ch" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
  </div>
</div>
