.span12
  #recommendation_form_wrapper
    #choose_friends Choose some friends and...
    #recommendations_button
      =form_for :recommendations, :url => recommendations_path, :html => {:id => "recommendations_form"}, :method => :get do |f|
        =f.hidden_field :user_ids
        =f.submit "Get Movie Recommendations!", :class => "btn btn-primary btn-large"
  .search_field
    %input#search{:name => "search"}
    %label{:for => "search" } Type a friend's name

#friends_container.span12
  -@friends.each do |friend|
    %a.friend_block.span3{:href => "#", :id => friend.user_id}
      .friend_block_content
        .friend_img= image_tag(friend.image_url)      
        .name= friend.name
        .clearfix
  
