= content_for :title, "You have no friends!"

#explanation
  %p Whoops! It looks like Hunch doesn't know about your friends. Try linking your Hunch account with Twitter or Facebook.
  .btn_wrapper
    %a{ :class => 'btn btn-primary btn-large', :href => "http://hunch.com/people/friends/"} Add friends in Hunch!
