body {
  font-size: 14px;
  margin-bottom: 60px;
}

#friends_container {
	display: block;
  margin-left: 0;
}

.friend_block.selected {
	background: #D9EDF7;
}

.friend_block {
	margin: 5px;
	border: 1px solid #DDD;
	background: #FAFAFA;
	cursor: hand;
	display: block;
	
	.friend_block_content {
		margin: 12px;
		height: 50px;		
	}

	.friend_img, .name {
		position:relative;
		float:left;
		margin: 0;
		padding: 0;
		word-wrap: break-word;
	}
	
	.name {
		margin-top: 5px;
		padding-left: 12px;
		width:132px;
		font-size: 16px;
	}

}

a.friend_block {
	color: #4E514E;
	text-decoration: none;
	
	&:hover {
		box-shadow: 0 0 3px #497fb8;
	} 
}

a.friend_block.selected:hover{
//	background: #FFCCCC;
}

.hidden {
	height: 0;
	width: 0;
	overflow: hidden;
	margin:0;
	padding:0;
	border: none;
}

.search_field #search, .search_field label {
	float: right;
	margin-right: 15px;
}

.search_field {
  padding-top: 5px;
}

.search_field label {
	font-size: 14px;
	margin-top: 4px;
}

.search_field i {
  float: right;
  position: relative;
  margin-left: -22px;
  right: 20px;
  margin-top: 7px;
}

#recommendation_form_wrapper {
  margin-left: 5px;
}

#recommendations_button {
	margin-left: 15px;
  float: left;
}

#choose_friends {
  float: left;
  font-size: 17px;
  margin-top: 10px;
}

#header {
	margin: 30px 0;
  margin-left: 0;
  margin-right: 20px;
}

#header a {
  text-decoration: none;
}

#header .user {
  margin-top: 10px;
}

.right {
	float: right;
}

.user_details {
	padding-right: 10px;
	padding-top: 5px;
}

a.logout {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

a.logout:hover {
  text-decoration: underline;
  color: black;
}

a.btn {
  text-decoration: none;
}

#recommendations_text {
  font-size: 18px;
}

ul#movies {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

li.movie {
  list-style: none;
  margin: 0;
  margin-right: 15px;
  padding: 20px;
  margin-bottom: 20px;
	border: 1px solid #DDD;
	background: #FAFAFA;
}

.movie .image {
  float: left;
  width: 240px;
  height: auto;
  margin-right: 20px;
}

.movie .details {
  float: left;
  width: 620px;
  margin: 0;
  padding: 0;
}

.movie .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;

  span {
    float: left;
  }
}

.movie p {
  font-size: 14px;
  text-align:justify;
  text-justify:inter-word;
}


  .stars {
    background-image: url('../img/stars.png');
    width: 65px;
    height: 13px;
    float: left;
    margin-top: 3px;
    margin-left: 5px;
  }

#load_more_wrapper, #load_more {
  width: 100px;
}

#load_more_wrapper {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.trailer {
  margin-top: 15px;
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer {
  margin-left: 5px;
  margin-top: 30px;

  p {
    font-size: 14px;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

img.right {
  margin-right: 15px;
}

#explanation {
  margin: 220px auto 120px auto;
}

#explanation p {
	font-family: "minion-pro-1","minion-pro-2", "Times New Roman", Georgia, serif;
  font-size: 38px;
	font-weight:500;
  line-height:1.0em;
  text-align: center;
  margin-bottom: 35px;
	letter-spacing: -1px;
	color: #232323;
}

#explanation .btn_wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  padding: 0;
}

#explanation a {
  font-size: 20px;
  padding: 14px 24px;
  width: 210px;
  margin: 0;
}

#hunch_logo {
	position: relative;
	margin-left: 3px;
	top: 8px;
}

#hunch_powered {
	float: right;
	position: relative;
	top: 21px;
	margin-right: 14px;
}

#alert_wrapper {
	margin: 0;
}

.alert {
	text-align: center;
	font-size:18px;
	border-radius: 0;
	margin-bottom: -20px;
	padding: 12px 0;
}

#made_by {
	margin-left:-3px;
}

.share-buttons {
  margin-top: 10px;
}

.twitter-share {
  width: 91px !important;
}

.fb-share {
  width: 82px;
}

.fb-share iframe {
  width: 82px !important;
}
